<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Movie Details</h1>
    </header>
    <main>
        <h2>Movie Information:</h2>
        <p>Movie ID: {{movie.Movie_ID}}</p>
        <p>Title: {{movie.Title}}</p>
        <p>Year: {{movie.Year}}</p>
        <p>Rated: {{movie.Rated}}</p>
        <p>Released: {{movie.Released}}</p>
        <p>Runtime: {{movie.Runtime}}</p>
        <p>Genre: {{movie.Genre}}</p>
        <p>Director: {{movie.Director}}</p>
        <p>Writer: {{movie.Writer}}</p>
        <p>Actors: {{movie.Actors}}</p>
        <p>Plot: {{movie.Plot}}</p>
        <p>Language: {{movie.Language}}</p>
        <p>Country: {{movie.Country}}</p>
        <p>Awards: {{movie.Awards}}</p>
        <p>IMDB Rating: {{movie.imdbRating}}</p>
        <p>IMDB Votes: {{movie.imdbVotes}}</p>
    </main>
    <footer>
        <p>Footer content here</p>
    </footer>
</body>
</html>
